*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title{
    width: fit-content;
    text-decoration: none;
    display: flex;
    justify-content: center;
    color: #f7f7f7;
    margin: 1rem;
    border-radius: 10px;
    font-size: 2rem;
    font-weight: 800;
    text-shadow: #101113 1px 1px 1px;
    background: linear-gradient(0deg, #68edff 10%, #2997aa 100%);
    padding: 0.5rem 1rem;
    box-shadow : 0px 0px 10px 0px rgba(0,0,0,0.75);
    position: relative;
    left: 40%;
    
}